<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title})}">
<head> 
    <title>Login Page</title>
</head>
<body> 
    <div id="content">
        <h1>Welcome to Login Page</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero unde fugit molestiae temporibus ab impedit deleniti omnis nihil quas, nam aliquid maxime doloremque ipsa quod quisquam sequi explicabo eveniet odit? In culpa doloribus quam ipsam mollitia cumque consectetur? Exercitationem recusandae vitae ea aliquam ullam minima, distinctio velit nobis corporis mollitia.</p>
    </div>
</body>
</html>